{{#if movies}}

<table class="ui unstackable striped table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Release Year</th>
      <th>Genre</th>
      <th>Rating (/10)</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
    <tr>
      <td>{{title}}</td>
      <td>{{director}}</td>
      <td>{{year}}</td>
      <td>{{genre}}</td>
      <td>{{rating}}</td>
      <td class="center aligned">
        <a href="/movie/{{../id}}/deletemovie/{{id}}" title="Delete movie">
          <i class="ui black trash icon"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{else}}
<h3 class="ui message black">
  Empty movie collection!
</h3>

{{/if}}